.question-title {
    color: #9d63e7;       /* purple header */
    font-size: 24px;
    margin-top: 40px;
    text-align: left;
    
}

.question-text {
    margin: 10px 0 20px;
    font-size: 16px;
    text-align: left;
    
}

.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.options label {
    font-size: 16px;
    cursor: pointer;

}



#submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9d63e7; /* purple button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
