@keyframes squish {
  0%, 100% {
    transform: scaleY(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.1;
  }
}

@keyframes flip {
  0%, 100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.33%); /* 100% / 3 elements */
  }
}