footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 2px solid var(--color-outline);
  padding: 8px 0;
}

footer p {
  margin: 2px 0;
  color: var(--color-text-accent);
  font-size: var(--font-size-caption-mobile);
}

@media screen and (min-width: 770px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  footer p {
    font-size: var(--font-size-caption-desktop);
  }
}