footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 2px solid var(--color-outline);
  padding: 8px 0;
}

footer p {
  margin: 2px 0;
  color: var(--color-text-accent);
  font-size: var(--font-size-caption-mobile);
}