.container {
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -1rem;
  margin-right: -1rem; */
}

.col {
  /* padding-left: 1rem;
  padding-right: 1rem; */
  flex: 1 0 0%;
}

/* Small Size Displays */
.col-12 { flex: 0 0 100%; max-width: 100%; }
.col-6  { flex: 0 0 50%; max-width: 50%; }
.col-4  { flex: 0 0 33.3333%; max-width: 33.3333%; }
.col-3  { flex: 0 0 25%; max-width: 25%; }

/* Medium Size Displays */
@media (min-width: 850px) {
  .col-md-9 { flex: 0 0 75%; max-width: 75%; }
  .col-md-8 { flex: 0 0 66.6666%; max-width: 66.6666%; }
  .col-md-6 { flex: 0 0 50%; max-width: 50%; }
  .col-md-4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
  .col-md-3 { flex: 0 0 25%; max-width: 25%; }
}

/* Large Size Displays */
@media (min-width: 1200px) {
  .col-lg-4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
  .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
  .col-lg-2 { flex: 0 0 16.6667%; max-width: 16.6667%; }
}