.hero-container {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 80vh;
  padding-top: 2rem;
  transition-duration: 0.35s;
}

.hero {
  position: relative;
  width: fit-content; /* Set width to width of CRAP title for "this" to be positioned correctly */
}

.this {
  position: absolute;
  top: -8px;
  left: 1rem;
  font-family: var(--font-family-primary);
  font-size: clamp(var(--font-size-body-mobile), 8vw, var(--font-size-xl));
  font-weight: var(--font-weight-semibold);
  transition-duration: 0.35s;
}

/* Potential refactor to separate class when making other pages */
.crap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-hero);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-dark);
}

.crap span:first-of-type {
  margin-left: 1rem;
}

.hero-subtitle {
  text-align: center;
  font-size: var(--font-size-heading-mobile);
  margin: 0;
  padding: 1rem;
  border-top: 2px solid var(--color-outline);
  border-bottom: 2px solid var(--color-outline);
  transition-duration: 0.35s;
}