main {
  text-align: left;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 80vh;
}

.hero {
  position: relative;
  width: fit-content; /* Set width to width of CRAP title for "this" to be positioned correctly */
}

.this {
  position: absolute;
  top: -8px;
  left: 1rem;
  font-family: var(--font-family-primary);
  font-size: clamp(var(--font-size-body-mobile), 8vw, var(--font-size-xl));
  font-weight: var(--font-weight-semibold);
}

/* Potential refactor to separate class when making other pages */
.crap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-hero);
  font-weight: var(--font-weight-semibold);
}

.crap span:first-of-type {
  margin-left: 1rem;
}

.hero-subtitle {
  text-align: center;
  font-size: var(--font-size-heading-mobile);
  margin: 0;
  padding: 1rem;
  border-top: 2px solid var(--color-outline);
  border-bottom: 2px solid var(--color-outline);
}

.intro-section, .principle-section {
  padding: clamp(2rem, 8vw, 10rem) 0;
  border-bottom: 2px solid var(--color-outline);
}

.principle-section:last-of-type {
  border: none;
}

.section-title {
  font-size: var(--font-size-section-title-mobile);
}

.principle-section .section-title {
  text-align: right;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--color-outline);
}

.principle-interaction .heading-2 {
  text-align: center;
  font-size: var(--font-size-heading-mobile);
}

.principle-buttons {
  display: flex;
  flex-direction: row;
}

.principle-buttons button {
  font-weight: var(--font-weight-semibold);
  width: 50%;
  border: 2px solid var(--color-outline);
}

.section-content {
  padding: 1rem 2rem;
}

/* Don't apply to intro-section */
.section-content:not(:first-of-type) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.example-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-images figure {
  text-align: center;
  width: 100%;
}

.example-images figure img {
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .this {
    top: 4px;
  }
}