nav {
  margin: 0;
  padding: 0;
  position: sticky;
}

.mobile-nav-container {
  position: relative;
  border-bottom: 2px solid var(--color-outline);
}

.menu-icon {
  display: block;
  width: fit-content;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.menu-icon.active {
  animation: flip 1s forwards;
  animation-timing-function: var(--timing-function-logo);
}

.desktop-nav {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.mobile-nav {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%; /* Bottom of nav container because of position: relative  */
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1;
}

.mobile-nav.active {
  pointer-events: auto;
  animation: slideDown 0.4s forwards;
  animation-timing-function: var(--timing-function-mobile-nav);
  transform-origin: top center;
}

.mobile-nav.closing {
  animation: slideUp 0.4s forwards;
  animation-timing-function: var(--timing-function-mobile-nav);
  transform-origin: top center;
}

.mobile-nav li {
  width: inherit;
  border-bottom: 2px solid var(--color-outline);
  cursor: pointer;
}

.mobile-nav li a {
  display: block;
  padding: 1rem 2rem;
  font-weight: normal;
  text-decoration: none;
}

.learn a {
  background-color: var(--color-text-accent);
  color: var(--color-text-light);
}

.practice a {
  background-color: var(--color-secondary-light);
  color: var(--color-text-light);
}

.quiz a {
  background-color: var(--color-primary-light);
  color: var(--color-text-dark);
}