main {
  text-align: left;
}

.contents-menu {
  display: none;
}

/* .intro-section {
  padding-top: 4rem;
} */

.intro-section, .principle-section {
  border-bottom: 2px solid var(--color-outline);
}

.principle-section:last-of-type {
  border: none;
}

.section-title {
  font-size: var(--font-size-section-title-mobile);
}

.principle-section .section-title {
  text-align: right;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--color-outline);
}

.principle-interaction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.principle-interaction .heading-2 {
  text-align: center;
  font-size: var(--font-size-heading-mobile);
  margin: auto 4px;
}

.principle-buttons {
  display: flex;
  flex-direction: row;
}

.principle-buttons button {
  font-weight: var(--font-weight-semibold);
  width: 50%;
  border: 2px solid var(--color-outline);
}

.section-content, .principle-content {
  display: flex;
  flex-direction: column;
  padding: clamp(2rem, 8vw, 10rem) 2rem;
}

.section-content:not(:last-of-type) {
  margin: 3rem auto;
}

.principle-content {
  gap: 2rem;
}

.example-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-images figure {
  text-align: center;
  width: 100%;
}

.example-images figure img {
  width: 100%;
  overflow: hidden;
}

.conclusion-section .section-title {
  margin-top: 6rem;
}

@media screen and (min-width: 770px) {
  .example-images {
    flex-direction: row;
  }
}

@media screen and (min-width: 850px) {
  .contents-menu {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    top: 50px;
    padding: 4rem 1rem;
  }

  .contents-menu h3 {
    color: var(--color-text-accent);
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);  
    margin: 0;
  }

  .contents-links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
    padding: 0;
  }

  .contents-links a {
    color: var(--color-primary-light);
    text-decoration: none;
    font-weight: var(--font-weight-regular);
  }

  .row > div {
    border-left: 2px solid var(--color-outline);
  }
}

@media screen and (min-width: 900px) {
  .this {
    top: 4px;
  }
}