.banner {
  position: fixed;
  top: 56px;
  display: none;
  width: 100%;
  height: fit-content;
  padding: 1rem 2rem;
  transition-duration: 0.1s;
  overflow: hidden;
  z-index: 800;
}

.scrolling-text-container {
  display: flex;
  width: fit-content;
  animation: scrollText 14s linear infinite;
}

.scrolling-text-container span {
  white-space: nowrap;
  margin-left: 2.5rem;
}

main {
  text-align: left;
}

.contents-menu {
  display: none;
}

.intro-section {
  border-bottom: 2px solid var(--color-outline);
}

.section-title {
  font-size: var(--font-size-section-title-mobile);
}

.section-content {
  display: flex;
  flex-direction: column;
  padding: clamp(2rem, 8vw, 10rem) 2rem;
}

.section-content:not(:first-of-type):not(:last-of-type) {
  margin: 3rem auto;
}

.conclusion-section .section-title {
  margin-top: 6rem;
}

@media screen and (min-width: 850px) {
  /* Styling for Side Bar Nav */
  .contents-menu {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    top: 70px;
    margin-top: 2rem;
    padding: 4rem 1rem;
  }

  .contents-menu h3 {
    color: var(--color-text-accent);
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);  
    font-size: var(--font-size-md);
    margin: 0;
  }

  .contents-links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
    padding: 0;
  }

  .contents-links a {
    color: var(--color-primary-light);
    text-decoration: none;
    font-weight: var(--font-weight-regular);
  }
  
  .contents-links a:not(.active):hover {
    color: white;
    text-shadow: 0 0 5px var(--color-primary-dark), 0 0 15px var(--color-primary-light);
  }

  .contents-links a.active {
    color: var(--color-primary-dark);
  }

  .row > div {
    border-left: 2px solid var(--color-outline);
    border-right: 2px solid var(--color-outline);
  }
}

@media screen and (min-width: 900px) {
  .this {
    top: 4px;
  }

  #introduction {
    margin: 0 auto;
  }
}