@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
  --color-primary-light: #CCC1E3;
  --color-primary-dark: #7E4FE3;
  --color-secondary-light: #0019D9;
  --color-secondary-dark: #080066;
  --color-background: #FAFAFA;
  --color-outline: #DADADA;
  --color-text-light: #F6F5FA;
  --color-text-dark: #120038;
  --color-text-accent: #7E4FE3;
  --color-text-caption: #606060;

  --font-family-primary: "Albert Sans", sans-serif;
  --font-family-accent: "Sofia Sans Semi Condensed", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-semibold: 700;
  --font-weight-bold: 800;

  --font-size-body-mobile: 16px;
  --font-size-body-desktop: 18px;

  --font-size-caption-mobile: 14px;
  --font-size-caption-desktop: 18px;

  --font-size-heading-mobile: 16px;
  --font-size-heading-desktop: 20px;

  --font-size-section-title-mobile: 24px;
  --font-size-section-title-desktop: 28px;

  --font-size-hero: clamp(72px, 28vw, 350px);

  --font-size-sm: 12px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 48px;

  --timing-function-logo: cubic-bezier(0.47, 0, 0.745, 0.715);
  --timing-function-mobile-nav: cubic-bezier(0.25, 0.84, 0.44, 1);
}

/* Default Styles */
.hero-subtitle {
  font-weight: var(--font-weight-regular);
  color: var(--color-secondary-dark);
}

.section-title {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  color: var(--color-secondary-dark);
  letter-spacing: 0.05rem;
}

.heading-1 {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-medium);
  text-transform: none;
  color: var(--color-text-dark);
}

.heading-2 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  color: var(--color-text-dark);
  letter-spacing: 0.02em;
}

p, li {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-light);
  color: var(--color-text-dark);
}

p > strong {
  font-weight: var(--font-weight-semibold);
}

.caption {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-light);
  color: var(--color-text-caption);
}

.primary-button {
  background-color: var(--color-primary-light);
  color: var(--color-text-accent);
  border: 2px solid transparent;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.primary-button:hover {
  color: var(--color-text-dark);
  border-color: var(--color-outline);
}

.primary-button.active {
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
}

/* CSS Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 350px;
  line-height: 1.5;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body-mobile);
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.2;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

@media screen and (min-width: 60rem) {
  body {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-desktop);
  }
}